
BraveSoftware/Brave-Browser
Code - OSS
Foxit Software
JetBrains
KDE
Signal
SpecFlow
Thunar
VSCodium
blender
chromium
git
google-chrome/NativeMessagingHosts
google-chrome-unstable/NativeMessagingHosts
gtk-2.0
gtk-3.0
gtk-4.0
htop
ipython/profile_default
java
jupyter
kde/share/config
kde.org
kdedefaults
lazygit/development.log
lazygit/state.yml
libaccounts-glib
libreoffice/4/user
liferea
lvim
lvim.bak
lvim.old
menus/applications-merged
microsoft-edge/NativeMessagingHosts
nemo
npm/_cacache
npm/_logs
npm/_update-notifier-last-checked
npm/eresolve-report.txt
obsidian/Cache/Cache_Data
obsidian/Code Cache
obsidian/Crashpad
obsidian/Dictionaries
obsidian/GPUCache
obsidian/IndexedDB/app_obsidian.md_0.indexeddb.leveldb
obsidian/Local Storage/leveldb
obsidian/Session Storage
obsidian/databases
obsidian/.org.chromium.Chromium.WgBdlw
obsidian/1fa5de79ba4bbd25.json
obsidian/Cookies
obsidian/Cookies-journal
obsidian/Network Persistent State
obsidian/Preferences
obsidian/QuotaManager
obsidian/QuotaManager-journal
obsidian/SingletonCookie
obsidian/SingletonLock
obsidian
pulse
pki/nssdb
ranger/__pycache__
ranger/plugins/__pycache__
ranger/plugins/ranger_devicons/__pycache__
remmina
session
totem
ungoogled-chromium/NativeMessagingHosts
xfce4
xsettingsd
TelegramDesktoprc
Trolltech.conf
akregatorrc
alacritty.tar.gz
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
bluedevilreceiverrc
device_automounter_kcmrc
discoverrc
dleyna-renderer-service.conf
dolphinrc
drkonqirc
emaildefaults
filetypesrc
fish.tar.gz
gtkrc
gtkrc-2.0
i3status-rust.tar.gz
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kiorc
kitty.tar.gz
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
monitors.xml
pavucontrol.ini
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
sddmthemeinstallerrc
soffice.binrc
systemmonitorrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
vlcrc
wgetrc
zoomus.conf
zsh.tar.gz
vlc
oh-my-bash
pamac
freeplane/1.9.x
freerdp
configstore
dconf
alacritty/alacritty.yml.1656962139942.bak
alacritty/alacritty.yml.1656962171387.bak
alacritty/alacritty.yml.1656962376510.bak
alacritty/alacritty.yml.1656963282068.bak
alacritty/alacritty.yml.1656963339355.bak
gnome-control-center/backgrounds
evolution/sources
ibus/bus
nvim/
.gsd-keyboard.settings-ported
QtProject.conf
QtProject.conf
autostart/i3.desktop
autostart/pam_kwallet_init.desktop
autostart/pamac-tray.desktop
autostart/xfce-polkit.desktop
NuGet